.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 103px 50px;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__links-list {
  display: flex;
  font-size: 18px;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: flex;
  width: 148px;
  justify-self: center;
}

.header__address {
  font-size: 18px;
  justify-self: end;
  margin-right: 37px;
}

.address a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 165px 50px 50px 50px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  font-size: 100px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 106px;
  position: relative;
  z-index: 2;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.aligned-text_center {
  text-align: center;
  padding: 5px 0px 0px 28px;
}

.aligned-text_right {
  text-align: right;
  padding: 5px 0px 0px 28px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 116px;
}

.cover__description-text {
  font-size: 22px;
  word-spacing: 18px;
  text-transform: uppercase;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 178px 24px 0;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 27px;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  flex: 1 1 30%;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 38px;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-size: 22px;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
  z-index: 2;
  position: relative;
  margin-bottom: 40px;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
  position: relative;
  z-index: 2;
}

.lots__look-more-link {
  display: block;
  padding-left: 38px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
  padding: 120px 24px 0;
}

.about__logo {
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px 45px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin: 78px 0 0 -10px;
}

.about__column_right {
  display: grid;
  grid-template-rows: 1fr auto;
}

.about__title-wrapper {
  display: flex;
  align-items: center;
  height: 240px;
}

.about__text {
  line-height: 1.2;
  font-size: 20px;
  margin: 42px 0 0 -10px;
}

.about__text p + p {
  margin-top: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  padding: 180px 50px 90px;
}

.footer__address {
  font-size: 18px;
  justify-self: end;
  margin-right: 37px;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 18px;
}

.footer__menu {
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-content: flex-end;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
